@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans:wght@300;400;700&display=swap');



* {
    font-family: 'Noto Sans','Noto Sans KR' sans-serif;
    line-height: 1.7;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

@media screen and (max-width: 1920px) { body { background-color: rgba(250, 250, 250, 1); } }

body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    overflow-x: hidden;
    background-color: rgba(250, 250, 250, 1);
}
.nav_set { /* 네비게이션 */
    position: fixed;
    margin-left: -5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 1);
    background-size: 110vw;
    z-index: 100;
    top: 0;
}


.nav{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    float: left;
    padding-left: 2.5%;
}

.nav a {
    float: left; 
    
}

.logo_icon{
  width: 2.5%;
}
.logo_icon img{
  width: 100%;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
/* 네비 메뉴 탭 */
.menu_tab{
  width: 37%;
  margin: 0 auto;
  position: relative;
}
/*
.menu_tab a{
  color: #242424;
  border:1px solid #242424; 
  outline: none;
  text-align:center;
  padding: 2px 20px;
  border-radius: 40px;
  text-decoration: none;
}
*/
.menu_tab a:hover{
  color: #ffffff;
  border:1px solid #242424; 
  background-color: #6969ff;
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}


.manu_tab_home, .menu_tab_character, .menu_tab_about{
  margin-left: 1.5vW;
  color: #242424;
  border:1px solid #242424; 
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}

.menu_tab_project
{
  margin-left: 1.5vW;
  color: #ffffff;
  border:1px solid #242424; 
  background-color: #6969ff;
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}
/* 네비 메뉴 탭 */
/* -------------------------------------------------------------------------------------------------------------------------- */























#plannig{
    /* position: relative; */
    margin-left: 243px;
    margin-right: 243px;
    margin-top: 300px;
    font-family: 'Noto Sans', sans-serif;
    background-image: url(../img/planning_1.png);
    min-height: 1356px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

#plannig_1{
    margin-left: 243px;
    margin-right: 243px;
    font-family: 'Noto Sans', sans-serif;
    min-height: 1356px;
}


.planning_1_character img{
    width: 400px;
    position: relative;
    margin-top: 730px;
    margin-left: 30px;
}


.planning_2{
    width: 100%;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 100px;
}

.planning_2_number{
    position: relative;
    margin-left: 0;
    width: 100%;
}

.planning_2_number img{
    width: 100%;
}

.planning_2_text{
margin: 0 243px;
}

.planning_2_title{
    position: absolute;
    width: 80%;
    font-size: 80px;
    float: left;
    top: 550px;
}

.planning_2_title h1{
    float: left;
    position: relative;
    padding-right: 4.5%;
    font-size: 110px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.planning_2_ko{
    width: 80%;
    position: absolute;
    top: 800px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 18px;
}





.planning_3_reason{
    width: 100%;
    position:relative;
}


.planning_3_reason_text{
    width: 20%;
    float: left;
}
.planning_3_reason_text h3{
    font-weight: 300;
    font-size: 36px;
    color: rgba(36, 36, 36, 1)
}

.planning_3_reason_text h1{
    font-weight: 700;
    font-size: 96px;
    color: rgba(105, 105, 255, 1);

}
.planning_3_reason_text h1 hr{
    color: rgba(105, 105, 255, 1);
}


.planning_3_reason_text h5{
    font-weight: 400;
    font-size: 25px;
    color: rgba(172, 172, 172, 1);
}


.planning_3_reason_image{
    width: 80%;
    float: right;
    margin-bottom: 150px;
}

.reason_image_1{
    width: 566px;
    float: right;
    margin-right: 90px;
    transition: opacity 0.2s linear;
}

.hover_1{
    width: 700px;
    position: absolute;
    top: 5px;
    left: 610px;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.hover_set_1:hover .hover_1{
    opacity: 1;
}

.hover_set_1:hover .reason_image_1{
    opacity: 0;
}



.reason_image_2{
    float: left;
    margin-top: -30px;
}

.hover_2{
    width: 700px;
    position: absolute;
    top: 188px;
    left: 280px;
    opacity: 0;
    transition: opacity 0.2s linear;
    display: block;
}

.hover_set_2:hover .hover_2{
    opacity: 1;
}

.hover_set_2:hover .reason_image_2{
    opacity: 0;
}



.hover_set_3{
    width: 100%;
    position: relative;
}
.reason_image_3{
    float: right;
    margin-top: -30px;
}

.hover_3{
    width: 700px;
    position: absolute;
    top: 385px;
    left: 320px;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.hover_set_3:hover .hover_3{
    opacity: 1;
}

.hover_set_3:hover .reason_image_3{
    opacity: 0;
}





.hover_set_4{
    width: 100%;
    position: relative;
}

.reason_image_4{
    float: left;
    margin-top: -60px;
}

.hover_4{
    width: 700px;
    position: absolute;
    top: 500px;
    left: 14px;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.hover_set_4:hover .hover_4{
    opacity: 1;
}

.hover_set_4:hover .reason_image_4{
    opacity: 0;
}



.hover_set_5{
    width: 100%;
    position: relative;
}

.reason_image_5{
    float: right;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-right: 50px;
}
.hover_5{
    width: 700px;
    position: absolute;
    top: 699px;
    left: 405px;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.hover_set_5:hover .hover_5{
    opacity: 1;
}

.hover_set_5:hover .reason_image_5{
    opacity: 0;
}



.planning_4_goal{
    width: 100%;
    left: 0;
    float: left;
    margin-bottom: 300px;
    max-width: 1900px;
    position: relative;
}
.planning_4_goal img{
    width: 100%;
}


#plannig_2{
    margin-left: 243px;
    margin-right: 243px;
    font-family: 'Noto Sans', sans-serif;
}



.how_to_title{
    width: 100%;
    float: left;
    margin-top: -130px;
    z-index: 3;
}



.how_to_img{
    width: 100%;
    float: left;
    position: relative;
    z-index: -2;
}

.how_to_img img{
    width: 130%;
    margin-left: -225px;
    margin-top: -300px;
    
}


#AIddok{
    width: 100%;
    left: 0;
    float: left;
    max-width: 1900px;
}


.aiddok_1_particle{
    margin-bottom: 300px;
    margin-top: -300px;
    position: relative;
    width: 100%;
}

.aiddok_1_particle img{
    width: 100%;
    position: absolute;
    left: 0;
    margin-bottom: 300px;
}

.ai_start_set{
    width: 100%;
    height: 1300px;
    position: relative;
    z-index: 1;
    margin-bottom: 500px;
    
}


.aiddok_1_particle hr{
    width: 500px;
    float: left;
    position: relative;
    left: 100px;
    background-color: blue;
    padding: 20px;
}


.particle_line {
    width: 275px;
    float: left;
    position: relative;
}

.particle_line img{
    width: 100%;
    position: relative;
    left: 500px;
    top: 850px;
    z-index: 1;
}


.aiddok_1_start{
    width: 100%;
    float: left;
    position: relative;
}

.aiddok_1_start img{
    width: 20%;
    margin: 0 auto;
    left: 40%;
    top: 630px;
    position: absolute;
}

.aiddok_text{
    width: 100%;
    float: left;
    position: absolute;
}

.aiddok_text img{
    width: 20%;
    margin: 0 auto;
    left: 61%;
    top: 1200px;
    position: absolute;
}








#aiddok_friend{
    width: 100%;
    height: 10000px;
    position: relative;
    background-color: black;
    margin-top: 1000px;
}


.friend_title{
    width: 60%;
    position: relative;
    float: left;
}


.aiddok_friend img{
    position: relative;
}

.friend_talk{
    float: right;
    margin-right: 243px;
    position: relative;
    margin-top: 0;
    width: 20%;
}


.show_scroll{
    position: relative;
    width: 60%;
    height: 600px;
    float: left;
    margin-bottom: 100px;
}




.friend_scroll_1{
    float: left;
    position: relative;
    margin-left: 220px;
    margin-top: 100px;
}

.friend_scroll_2{
    position: absolute;
    top: 170px;
    left: 580px;
}

.friend_scroll_3{
    position: absolute;
    top: 310px;
    left: 320px;
}

.friend_scroll_4{
    position: absolute;
    top: 450px;
    left: 740px;
}





.natural{
    width: 100%;
    margin-top: 1600px;
    margin-right: 243px;
    position: relative;
    margin-bottom: 200px;
    font-size: 18px;
    font-weight: 500;
}

.natural_text{
    width: 40.15%;
    float: left;
    margin-top: 80px;
}

.natural_img_1{
    width: 23.2%;
    float: left;
    margin-left: 35px;
}


.natural_img_2{
    width: 23.2%;
    float: left;
    margin-bottom: 200px;
}








.situation{
    position: relative;
    width: 100%;
    z-index: -2;
}

.situation img{
    width: 100%;
}

.situation_cha_1{
    position: relative;
    left: 165px;
    top: -870px;
    width: 450px;
    float: left;
}

.situation_cha_1 img{
    width: 100%;
}

.situation_cha_2{
    position: relative;
    left: 165px;
    top: -850px;
    width: 450px;
    float: left;
    margin-left: 55px;
}

.situation_cha_2 img{
    width: 100%;
}

.situation_cha_3{
    position: relative;
    left: 165px;
    top: -850px;
    width: 450px;
    float: left;
    margin-left: 55px;
}

.situation_cha_3 img{
    width: 100%;
}


.once{
    margin: 0 243px;
    margin-top: -350px;
    position: relative;
    float: left;
    
}

.once h2{
    font-weight: 700;
    font-size: 100px;
    color: rgba(105, 105, 255, 1);
    animation: showText 1s;
}

.once img{
    position: relative;
    float: left;
    margin-top: -280px;
    margin-left: 65%;
    z-index: -1;
}


.letstalk {
    width: 100%;
    position: relative;
}

.letstalk img{
    margin-top: 200px;
    width: 100%;
}

.walking{
    width: 27%;
    position: absolute;
    z-index: 100;
    left: 635px;
    margin-top: -500px;
}

.walking img{
    width: 100%;
}



.drop_bg{
    width: 100%;

}

.drop{
    position: relative;
    width: 100%;
    margin-top: -20px;
    background-color: rgba(105, 105, 255, 1);
    float: left;
    overflow: hidden;

}



.drop img{
    width: 30%;
    position: relative;
    margin-left: 30%;
    transition: all 3s;
    transition-timing-function: linear;
    padding-left: 200px;

}

.drop img:hover{
    opacity: 0;
    transform: translate(0, 1500px);
}


.circle{
    background-color: rgba(105, 105, 255, 1); 
    padding-top: 50px;
    position: relative;
    width: 100%;
    max-height: 1080px;
    transition: opacity 0.3s linear;
    overflow: hidden;
    margin: 0 auto;
}



.circle img{
    text-align: center;
    position: relative;
    width: 150%;
    margin-left: -480px;
    margin-top: -420px;
}

.send{
    position: absolute;
    left: 35%;
    width: 30%;
    margin-top: -850px;
}
.send img{
    position: absolute;
}

.bell{
    width: 100%;
    position: relative;
    margin-top: -250px;
}

.bell img{
    width: 100%;
}

.stepper_text{
    position: relative;
    margin-top: 100px;
    width: 75%;
}

.stepper_text img{
    width: 100%;
}

.stepper_gif{
    width: 75%;
    margin-bottom: 200px;
    margin-top: 150px;
}

.stepper_gif img{
    width: 100%;
}


.chat_1{
    width: 100%;
    margin-bottom: 300px;
}

.chat_1 img{
    width: 100%;
}

.chat_2{
    width: 100%;
    padding-top: 500px;
    background-image: url(../img/chat_function_3_bg.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;
    
}
.chat_2_button_set{
    margin: 0 200px;
    padding-top: 200px;
}



.chat_finish{
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    margin-top: 1000px;
}


.finish_text{
    width: 100%;
    float: right;
    position: relative;
}

.finish_text img{
    width: 100%;
    float: right;
}

.finish_img{
    width: 23.5%;
    position: relative;
    top: 250px;
    margin-left: 15%;
}

.finish_img img{
    width: 100%;
    position: absolute;
}


.diary{
    margin: 0 280px;
    position: relative;
}

.diary_text{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 100px;
    
}

.diary_text img{
    width: 100%;    
}

.diary_phone{
    width: 10%;
    float: right;
    margin-right: 320px;
    position: relative;
}

.camera{
    width: 10%;
    float: left;
    margin-top: 190px;
}

.diary_character{
    position: absolute;
    top: 2020px;
    left: 30px;
}



.diary_2{
    width: 100%;
    margin-top: 3800px;
    position: relative;
    margin-bottom: 200px;
}

.ar_cha{
    position: absolute;
    top: 51%;
    left: 40.5%;
}

.ar_cha img{
    width: 77%;
}

.ar_bg{
    width: 100%;
}

.ar_bg_img{
    width: 100%;
}

.ar_title_1{
    position: absolute;
    font-size: 44px;
    top: 500px;
    left: 200px;
    font-weight: 700;
    color: #ffffff;
}

.ar_text{
    position: absolute;
    font-size: 18px;
    top: 650px;
    left: 1220px;
    font-weight: 400;
    color: #ffffff;
}








.calendar_title{
    position: relative;
    width: 100%;
    background: rgb(255, 211, 211);
}

.calender_img_set{
    width: 100%;
    position: relative;
    background: rgb(226, 203, 255);
}




.calender_image_1{
    width: 40%;
    float: left;
    margin-left: 225px;
    margin-top: 100px;
}

.calender_image_2{
    position: absolute;
    left: 780px;
    top: 700px;
}

.calender_image_3{
    position: absolute;
    left: 1250px;
    top: 300px;
}







.bye{
    width: 100%;
    position: relative;
}

.end{
    width: 100%;
    position: relative;
    margin-top: 1600px;
}

.end img{
    width: 100%;
    position: relative;
}

.end_text{
    position: absolute;
    left: 243px;
    top: 430px;
}












@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
ul,li{list-style: none;}
.wrap{
    display:grid;
    grid-template-rows:auto;
    width: 100%;
    text-align: center;
}

.wrap h1{
    font-size: 32px;
    color: #0031b6;
    padding:20px 0;
}

.tab_wrap{
    display: grid;
    grid-template-rows: 40px auto 40px;
}

.tab_wrap .tab_menu{
    display:flex;
    width: 100%;
    height: 40px;
    margin-top: 800px;
    position: relative;
}

.tab_wrap .tab_menu li{
    flex:auto;
    display:flex;
    justify-content:space-around;
    align-items: center;
    cursor:pointer;
    font-size:15px;
}



.tab_menu li.on img{
    opacity: 1;
}

.tab_cont{
    width: 100%;
    position: absolute;
    margin-left: -220px;
}

.tab_cont > div{
    display:none;
}

.tab_cont > div.on{
    display:block;
}

.function_1_click{
    display: none;
}

#tab1 img{
    width: 100%;
    position: relative;
}

#tab2 img{
    width: 100%;
    position: relative;
}

#tab3 img{
    width: 100%;
    position: relative;
}

#tab4 img{
    width: 100%;
    position: relative;
}

#tab5 img{
    width: 100%;
    position: relative;
}

