* {
    font-family: 'Noto Sans','Noto Sans KR' sans-serif;
    line-height: 1.7;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

@media screen and (max-width: 1920px) { body { background-color: rgba(250, 250, 250, 1); } }

body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
}

.nav_set { /* 네비게이션 */
    position: fixed;
    margin-left: -10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 1);
    background-size: 110vw;
    z-index: 100;
    top: 0;
}


.nav{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    float: left;
    padding-left: 2.5%;
}

.nav a {
    float: left; 
    
}

.logo_icon{
  width: 2.5%;
}
.logo_icon img{
  width: 100%;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
/* 네비 메뉴 탭 */
.menu_tab{
  width: 37%;
  margin: 0 auto;
  position: relative;
}
/*
.menu_tab a{
  color: #242424;
  border:1px solid #242424; 
  outline: none;
  text-align:center;
  padding: 2px 20px;
  border-radius: 40px;
  text-decoration: none;
}
*/
.menu_tab a:hover{
  color: #ffffff;
  border:1px solid #242424; 
  background-color: #6969ff;
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}


.manu_tab_home, .menu_tab_character, .menu_tab_project{
  margin-left: 1.5vW;
  color: #242424;
  border:1px solid #242424; 
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}

.menu_tab_about{
  margin-left: 1.5vW;
  color: #ffffff;
  border:1px solid #242424; 
  background-color: #6969ff;
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}
/* 네비 메뉴 탭 */
/* -------------------------------------------------------------------------------------------------------------------------- */


.slotmachine{

  margin: 40vh 15vw;
  position: relative;

}

#waving{
  position: relative;
  top: 22vh;
  left: 12vw;
  z-index: 2;
  animation-name: waving;
  animation:waving 1s infinite;
}

@keyframes waving { 
  0%{ transform: rotate(-45deg);}
  50%{ transform: rotate(15deg);}
  100%{transform: rotate(-45deg);}
 }




.designer_5{
  width: 100%;
  position: relative;
  top: 7vh;
}

.noname_main{
  width: 100vw;
  position: relative;
  top: 20vh;
  margin-bottom: 40vh;
}






.bc_set{
  position: relative;
  height: 150vh;
}

.bc_arin{
  position: relative;
  width: 50vw;
  left: 5vw;
}

.bc_chealim{
  width: 50vw;
  position: absolute;
  top: 52vh;
  z-index: 2;
}


.bc_younju{
  width: 50vw;
  position: absolute;
  left: 51vw;
  top: 32vh;
}

.bc_jiseon{
  width: 50vw;
  position: absolute;
  top: 100vh;
  left: 20vw;
  z-index: 1;
}


.bc_seulki{
  width: 50vw;
  position: absolute;
  top: 75vh;
  left: 60vw;
}





.about_web_3{
  width: 100vw;
  margin-top: 20vh;
}






/* -------------------------------------------------------------------------------------------------------------------------- */
/* 카드 뒤집기 */

.flip{
  width: 100vw;
  position: relative;
}

.container {
  width: 457px;
  height: 647px;
  perspective: 1000px;
  position: absolute;
  left: 13vw;
}

.card {
    position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front img{
  width: 100%;
}



.back {
  transform: rotateY(180deg);
}
.back img{
  width: 100%;
}






.container_2 {
  width: 457px;
  height: 647px;
  perspective: 1000px;
  position: absolute;
  left: 38vw;

}

.card_2 {
    position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front_2, .back_2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front_2 img{
  width: 100%;
}
.back_2 img{
  width: 100%;
}

.back_2 {
  transform: rotateY(180deg);
}




.container_3 {
  width: 457px;
  height: 647px;
  perspective: 1000px;
  position: absolute;
  left: 63vw;

}

.card_3 {
    position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front_3, .back_3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.front_3 img{
  width: 100%;
}
.back_3 img{
  width: 100%;
}


.back_3 {
  transform: rotateY(180deg);
}










.container_4 {
  width: 457px;
  height: 647px;
  perspective: 1000px;
  position: absolute;
  left: 25vw;
  top: 65vh;

}

.card_4 {
    position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front_4, .back_4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.front_4 img{
  width: 100%;
}
.back_4 img{
  width: 100%;
}


.back_4 {
  transform: rotateY(180deg);
}







.container_5 {
  width: 457px;
  height: 647px;
  perspective: 1000px;
  position: absolute;
  left:50vw;
  top: 65vh;

}

.card_5 {
    position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front_5, .back_5 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.front_5 img{
  width: 100%;
}
.back_5 img{
  width: 100%;
}


.back_5 {
  transform: rotateY(180deg);
}