@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans:wght@300;400;700&display=swap');

/* -------------------------------------------------------------------------------------------------------------------------- */

    /* .mainImg {transform: scale(2.0);} */
    .mainImg {transition: .5s;}

  .slidecontainer {
    height: 25px; /* Specified height */
    position: absolute;
    right: 2.5%;
    z-index: 900;
      /* border: solid red 1px; */
    width: 300px; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider2 {
    border-width:1.5px 0 0 0; 
    border: color #242424;    
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1px; /* Specified height */
    background: #242424; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider2:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider2::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider2::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  /* -------------------------------------------------------------------------------------------------------------------------- */

* {
  font-family: 'Noto Sans','Noto Sans KR' sans-serif;
  line-height: 1.7;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@media screen { body { background-color: rgba(250, 250, 250, 1); } }

body {
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  overflow: hidden;
  cursor: url(../img/about_bell.png) auto;
}

.nav_set { /* 네비게이션 */
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 30px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 1);
  z-index: 100 !important;
}


.nav{
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  position: relative;
  float: left;
  padding-left: 2.5%;
}

.nav a {
  float: left; 
  
}

.logo_icon{
  width: 2.5%;
}
.logo_icon img{
  width: 100%;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
/* 네비 메뉴 탭 */
.menu_tab{
  width: 45%;
  position: relative;
  margin: 0 auto;
  z-index: 100;
}
/*
.menu_tab a{
  color: #242424;
  border:1px solid #242424; 
  outline: none;
  text-align:center;
  padding: 2px 20px;
  border-radius: 40px;
  text-decoration: none;
}
*/
.menu_tab a:hover{
  color: #ffffff;
  border:1px solid #242424; 
  background-color: #6969ff;
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}

.manu_tab_home{
  color: #ffffff;
  border:1px solid #242424; 
  background-color: #6969ff;
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}
.menu_tab_character{
  margin-left: 4%;
  color: #242424;
  border:1px solid #242424; 
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}
.menu_tab_project{
  margin-left: 4%;
  color: #242424;
  border:1px solid #242424; 
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}
.menu_tab_about{
  margin-left: 4%;
  color: #242424;
  border:1px solid #242424; 
  outline: none;
  text-align:center;
  padding: 2px 25px;
  border-radius: 40px;
  text-decoration: none;
}
/* 네비 메뉴 탭 */
/* -------------------------------------------------------------------------------------------------------------------------- */


/* 이채림 */
.btn_big{
  position: fixed;
  top: 45vh;
  left: 94vw;
  width: 10vw;
  height: 40vh;
  z-index: 10;

}

.btn_arrow{
  position: absolute;
  top: 9.5vh;
  left: 0.7vw;
  padding: 1px;
}

.btn_arrow2{
  position: absolute;
  top: 9.5vh;
  left: 0.7vw;
  padding: 1px;
}

.btn_arrow3{
  position: absolute;
  top: 9.5vh;
  left: 0.7vw;
  padding: 1px;
}

.btn_arrow4{
  position: absolute;
  top: 0.5vh;
  left: 0.7vw;
  padding: 1px;
}

.btn_back_arrow2{
  position: absolute;
  top: 0.5vh;
  left: 0.7vw;
  padding: 1px;
}

.btn_back_arrow3{
  position: absolute;
  top: 0.5vh;
  left: 0.7vw;
  padding: 1px;
}

.move1{
  position: absolute;
  top: 0;
}

.btn_1{
  position: absolute;
  top: 1vh;
  left: 0.55vw;
}

.btn_circle1{
  position: absolute;
}

.btn_2{
  position: absolute;
  top: 4.5vh;
  left: 0.55vw;
}

.btn_circle2{
  position: absolute;
  top: 3.5vh;
}

.btn_3{
  position: absolute;
  top: 4.5vh;
  left: 0.55vw;
}

.btn_circle3{
  position: absolute;
  top: 3.5vh;
}

.btn_4{
  position: absolute;
  top: 9.4vh;
  left: 0.6vw;
}

.btn_circle4{
  position: absolute;
  top: 8.4vh;
}
/* 이채림 */




















.section{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}




.main_logo_text{
  width: 93vw;
  position: absolute;
  margin-left: 3vw;
  margin-top: 10vh;
}



.main_ddok img{
  margin: 0 auto;
  width: 40%;
  top: 12vh;
  left: 30vw;
  position: absolute;
}

.main_ddok :hover{
  cursor: pointer;
}

.SNS_link{
  font-size: 20px;
  position: relative;
  margin-top: 85vh;
  margin-left: 2.5%;
}


.figma{
  color: #242424;
  text-decoration: none;
  margin-left: 8px;
}

.instagram{
  color: #242424;
  text-decoration: none;
  margin-left: 3px;
}

.youtube{
  color: #242424;
  text-decoration: none;
  margin-left: -1px;
}




.scroll_btn{
  position: absolute;
  top: 37vh;
  right: 2.5%;
}

.scroll_btn img{
  width: 100%;
}


.door_click{
  width: 80vw;
  height: 97vh;
  position: relative;
  top: 0;
}

.door_click :hover{
  cursor: pointer;
}

.door_click video{
  width: 80vw;
  position: relative;
  top: 5vh;
  left: 10vw;
  margin: 0 auto;
}

.test{
  width: 100vw;
  height: 100vh;
  margin-top: -2vh;
}






/* .letter_bg{
  width: 25vw;
  position: relative;
  top: 21vh;
  left: 35vw;
}

.letter_bg img{
  width: 100%;
  height: 100%;
}

.letter_eraser{
  width: 8vw;
  position: absolute;
  top: 50vh;
  left: 18vw;
  animation:waving_eraser 1.5s infinite;
}

.letter_eraser img{
  width: 100%;
  height: 100%;
}


.letter_pencil{
  width: 12vw;
  position: absolute;
  top: 38vh;
  left: 70vw;
  animation:waving_pencil 1.5s infinite;
}

.letter_pencil img{
  width: 100%;
  height: 100%;
}

@keyframes waving_eraser { 
  0%{ transform: rotate(10deg);}
  50%{ transform: rotate(0deg);}
  100%{transform: rotate(10deg);}
 }

 @keyframes waving_pencil { 
  0%{ transform: rotate(-10deg);}
  50%{ transform: rotate(0deg);}
  100%{transform: rotate(-10deg);}
 } */



 .letter_text_container{
  width: 25vw;
  position: absolute;
  top: 21vh;
  left: 35vw;
 }

.letter_text_1{
  width: 100%;
  height: 7vh;
  position: relative;
  top: 3vh;
}





























.envelope_set{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.envelope_bottom{
  position: relative;
  width: 35vw;
  top: 45vh;
  left: 30vw;
}

.envelope_bottom img{
  width: 100%;
  
}


.envelope_top{
  position:absolute;
  width: 35vw;
  top: 18.8vh;
  left: 30vw;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: rotateX(50deg);
  perspective: 1000px;


}

.envelope_top img{
  width: 100%;
  height: 100%;
}



.envelope_click{
  width: 80vw;
  height: 97vh;
  position: relative;
  top: 0;
}

.envelope_click :hover{
  cursor: pointer;
}

.envelope_click video{
  width: 80vw;
  position: relative;
  top: 5vh;
  left: 10vw;
  margin: 0 auto;
}

























.hero-btn {
  position: relative;
  width: 500px;
  height: 500px;
  left: 35vw;
  background-image: url(../img/send.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100;
}
.hero-btn .btn {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  -moz-transform: perspective(600px) rotateX(0deg) scale(1);
  -ms-transform: perspective(600px) rotateX(0deg) scale(1);
  -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
  transform: perspective(600px) rotateX(0deg) scale(1);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.hero-btn .btn:hover {
  background-color: #6969ff;
  -moz-box-shadow: 0 20px 40px #6969ff;
  -webkit-box-shadow: 0 20px 40px #6969ff;
  box-shadow: 0 20px 40px #6969ff;
}
.hero-btn .btn:active {
  -moz-transform: perspective(600px) rotateX(15deg) scale(0.9);
  -ms-transform: perspective(600px) rotateX(15deg) scale(0.9);
  -webkit-transform: perspective(600px) rotateX(15deg) scale(0.9);
  transform: perspective(600px) rotateX(15deg) scale(0.9);
  font-size: 21px;
}
.active .hero-btn .btn:active {
  -moz-transform: perspective(600px) rotateX(0deg) scale(1);
  -ms-transform: perspective(600px) rotateX(0deg) scale(1);
  -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
  transform: perspective(600px) rotateX(0deg) scale(1);
}
.hero-btn .particles-circle {
  position: absolute;
  background-image: url(../img/message_heart_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  top: -100px;
  left: 20%;
  z-index: 100;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
  border: solid 1px blue;
}
.hero-btn .particles-circle:nth-of-type(odd) {
  /* border: solid 2px #6969ff; */
  background-color: transparent;
}
@keyframes particles-1 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -170px;
    top: -81px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(1) {
  animation: particles-1 1.5s 0.025s;
}
@keyframes particles-2 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 88px;
    top: 126px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(2) {
  animation: particles-2 1.5s 0.05s;
}
@keyframes particles-3 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 57px;
    top: -99px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(3) {
  animation: particles-3 1.5s 0.075s;
}
@keyframes particles-4 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -179px;
    top: -109px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(4) {
  animation: particles-4 1.5s 0.1s;
}
@keyframes particles-5 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 180px;
    top: 123px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(5) {
  animation: particles-5 1.5s 0.125s;
}
@keyframes particles-6 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -9px;
    top: -20px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(6) {
  animation: particles-6 1.5s 0.15s;
}
@keyframes particles-7 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 250px;
    top: 26px;
    transform: scale(0);
    visibility: hidden;
  }
}
/* .active .hero-btn .particles-circle:nth-of-type(7) {
  animation: particles-7 1.5s 0.175s;
}
@keyframes particles-8 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -218px;
    top: 183px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(8) {
  animation: particles-8 1.5s 0.2s;
}
@keyframes particles-9 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 103px;
    top: 187px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(9) {
  animation: particles-9 1.5s 0.225s;
}
@keyframes particles-10 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 238px;
    top: -46px;
    transform: scale(0);
    visibility: hidden;
  }
} */
/* .active .hero-btn .particles-circle:nth-of-type(10) {
  animation: particles-10 1.5s 0.25s;
}
@keyframes particles-11 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 231px;
    top: 24px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(11) {
  animation: particles-11 1.5s 0.275s;
}
@keyframes particles-12 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 18px;
    top: 161px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(12) {
  animation: particles-12 1.5s 0.3s;
}
@keyframes particles-13 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 236px;
    top: 201px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(13) {
  animation: particles-13 1.5s 0.325s;
}
@keyframes particles-14 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -44px;
    top: -138px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(14) {
  animation: particles-14 1.5s 0.35s;
}
@keyframes particles-15 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -173px;
    top: 238px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(15) {
  animation: particles-15 1.5s 0.375s;
}
@keyframes particles-16 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -77px;
    top: -33px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(16) {
  animation: particles-16 1.5s 0.4s;
}
@keyframes particles-17 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 81px;
    top: -57px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(17) {
  animation: particles-17 1.5s 0.425s;
}
@keyframes particles-18 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -57px;
    top: -227px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(18) {
  animation: particles-18 1.5s 0.45s;
}
@keyframes particles-19 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 206px;
    top: 167px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(19) {
  animation: particles-19 1.5s 0.475s;
}
@keyframes particles-20 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 94px;
    top: 98px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(20) {
  animation: particles-20 1.5s 0.5s;
}
@keyframes particles-21 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 247px;
    top: -158px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(21) {
  animation: particles-21 1.5s 0.525s;
}
@keyframes particles-22 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 15px;
    top: 221px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(22) {
  animation: particles-22 1.5s 0.55s;
}
@keyframes particles-23 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -20px;
    top: -172px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(23) {
  animation: particles-23 1.5s 0.575s;
}
@keyframes particles-24 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -204px;
    top: 10px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(24) {
  animation: particles-24 1.5s 0.6s;
}
@keyframes particles-25 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 71px;
    top: 59px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(25) {
  animation: particles-25 1.5s 0.625s;
}
@keyframes particles-26 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -217px;
    top: -168px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(26) {
  animation: particles-26 1.5s 0.65s;
}
@keyframes particles-27 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 131px;
    top: -222px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(27) {
  animation: particles-27 1.5s 0.675s;
}
@keyframes particles-28 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 164px;
    top: -48px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(28) {
  animation: particles-28 1.5s 0.7s;
}
@keyframes particles-29 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -109px;
    top: -194px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(29) {
  animation: particles-29 1.5s 0.725s;
}
@keyframes particles-30 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -18px;
    top: -169px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(30) {
  animation: particles-30 1.5s 0.75s;
}
@keyframes particles-31 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -182px;
    top: -4px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(31) {
  animation: particles-31 1.5s 0.775s;
}
@keyframes particles-32 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 134px;
    top: -173px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(32) {
  animation: particles-32 1.5s 0.8s;
}
@keyframes particles-33 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -196px;
    top: -230px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(33) {
  animation: particles-33 1.5s 0.825s;
}
@keyframes particles-34 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -25px;
    top: -183px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(34) {
  animation: particles-34 1.5s 0.85s;
}
@keyframes particles-35 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -210px;
    top: 17px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(35) {
  animation: particles-35 1.5s 0.875s;
} */

.v-align {
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  max-height: 90vh;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wrap__sparks {
  transform: translateZ(-100px);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: #f8faff;
  height: 100vh;
  position: relative;
}

h1 {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #6a11cb;
  font-weight: 500;
}

.made-with-love {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 10px;
  text-align: center;
  font-size: 10px;
  z-index: 9999;
  font-family: arial;
  color: #ff0083;
  font-weight: 600;
}
.made-with-love i {
  font-style: normal;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #ff0083;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}
.made-with-love .dribble img {
  max-width: 100%;
  width: 26px;
  position: relative;
  top: -2px;
  vertical-align: middle;
}









/* body {margin: 0;}
        #img { border: 3px solid green; position: relative; width: 508px; height: 664px; margin: 0 auto; overflow: hidden;}
        #img .img {position: absolute; top: 40px}
      

        #eraser {border: 1px solid red; width: 100px; position: absolute; top: 45vh; right: 20vw;}
        #pencil {border: 1px solid red; width: 100px; position: absolute; top: 45vh; left: 20vw;}
        section {border: 1px solid blue; height: 700px;}
        #section2 {position: relative;}
        #mouse { position: absolute; bottom: 50px; left: 0; background-color: aqua;}
        #boxXY { position: absolute; bottom: 0; left: 0; background-color: antiquewhite;}
        #box1 { width: 66px; height: 64px; background-color: orange; position: absolute; top: 0; left: 0; opacity:0;}
        #box2 { width: 66px; height: 64px; background-color: aqua; position: absolute; top: 0; left: 0; opacity: 0;}
        #box3 { width: 66px; height: 64px; background-color: green; position: absolute; top: 0; left: 0; opacity: 0;}
        #box4 { width: 66px; height: 64px; background-color: red; position: absolute; top: 0; left: 0; opacity: 0;} */